#keg-list {
  background: black;
  color: white;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  border: 10px solid white;

  h2 {
    padding-left: 20px;
  }

  .keg {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &:nth-of-type(odd) {
      background-color: #333;
    }

    .description {
      text-transform: capitalize;
      strong {
        margin-left: 10px;
        color: #f3e3c3;
      }
    }

    .details {
      .price {
        // letter-spacing: -3px;
        &:before {
          content: '$';
          display: inline-block;
        }
      }

      .pints {
        width: 50px;
        height: 50px;
        background-image: url(/resources/images/keg.png);
        background-size: 50px, 50px;
        &.full {
          background-image: url(/resources/images/full-keg.png);
        }
        &.three-quarters {
          background-image: url(/resources/images/three-quarters-full.png);
        }
        &.half {
          background-image: url(/resources/images/half-full.png);
        }
        &.one-quarter {
          background-image: url(/resources/images/one-quarter-full.png);
        }
      }
    }
  }
}
